.header {
    background: url('../../assets/header_img.png') no-repeat;
    height: 34vw;
    margin: 30px auto;
    background-size: contain;
    position: relative;
}

.content {
    position: absolute;
    left: 6vw;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    width: 50%;
    animation: fadein 3s;
}

.header h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header p {
    color: white;
    font-size: 1.1vw;
}

.header button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font: max(1vw, 13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .content{
        max-width: 45%;
    }
}
@media (max-width:750px) {

    .content{
        max-width: 65%;
    }
    .header p{
        display: none;
    }
    .header button{
        padding: 2vw 4vw;
    }
}
