.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #49557e;
}

.list li:hover{
    text-decoration: underline #49557e;
    text-underline-offset: 10px;
    text-decoration-thickness: 1.5px;
    cursor: pointer;
}

.logo {
    width: 150px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid tomato;
    cursor: pointer;
    transition: 0.5s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.icon1{
    position: relative;
}

.dot{
    position: absolute;
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    right: -8px;
    top: -8px;
}

@media (max-width:1050px) {
  
  .navbar .logo {
    width: 140px;           
  }

  .list {
    gap: 20px;              
    font-size: 17px;         
  }

  .nav-right {
    gap: 30px;              
  }

  .nav-right img {
    width: 22px;             
  }

  .nav-right button {
    padding: 8px 25px;       
  }
}

@media (max-width:900px) {
  
  .navbar .logo {
    width: 120px;           
  }

  .list {
    gap: 15px;              
    font-size: 16px;         
  }

  .nav-right {
    gap: 20px;              
  }

  .nav-right img {
    width: 20px;             
  }

  .nav-right button {
    padding: 7px 20px;  
    font-size: 15px;     
  }
}
@media (max-width:750px) {

  .list {
   display: none;       
  }

}
 