.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.foot-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.left, .center, .right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
}

.center li, .right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.center h2, .right h2{
    color: white;
}

.social-icon img{
    width: 40px;
    margin-right: 15px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: gray;
    border: none;
}

.copyright{
    margin-bottom: 20px;
}

@media (max-width:750px) {
    .foot-content{
        display: flex;
        flex-direction: column;
        gap: 35px;

    }
    .copyright{
        text-align: center;
    }
}
